/* -------------------------------------------------------------------------- */
/*                               Mobile styles                               */
/* -------------------------------------------------------------------------- */

.NavBar {
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  // .overlay {
  //   background-color: black;
  //   height: 100vh;
  //   width: 100vw;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   opacity: .5;
  // }

  .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    padding: 20px;
    height: 100%;
    width: 300px;
    transition: all .5s;
    box-sizing: content-box;

    .close-button {
      align-self: flex-end;
      transition: all .5s;
    }

    > a {
      margin: 10px;
      text-decoration: none;
      text-align: start;
    }
  }

  .hidden {
    width: 0;
    overflow: hidden;
    padding: 20px 0;
    transition-delay: .5s;
    .close-button {
      opacity: 0;
    }
  }

  .content-left {
    img {
      height: 30px;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                               Desktop styles                              */
/* -------------------------------------------------------------------------- */

@media screen and (min-width: 1025px) {
  .NavBar {
    margin-bottom: 30px;

    .content-rigth {
      width: 40%;

      .menu-mobile {
        display: none;
      }

      .menu {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        position: static;
        padding: 0;
        height: auto;
        width: auto;

        .close-button {
          display: none;
        }

        a {
          text-decoration: none;
          color: var(--Neutral_3);
          font-size: 12px;
          padding: 0;
        }
      }
    }
  }
}
