@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;700;800&family=League+Spartan:wght@400;600;700&display=swap');

:root {
  --Primary_1: hsl(35, 77%, 62%);
  --Primary_2: hsl(5, 85%, 63%);

  --Neutral_1: hsl(36, 100%, 99%);
  --Neutral_2: hsl(233, 8%, 79%);
  --Neutral_3: hsl(236, 13%, 42%);
  --Neutral_4: hsl(240, 100%, 5%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

body, #root {
  display: flex;
  flex-basis: 100%;
}


